@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: inherit;
  border-style: solid;
  border-color: #e5e7eb;
}

:root {
  --ligth-grey: #fafafa;
  --dark-grey: #212121;
  --ligth-purple: #ba68c8;
  --ligth-grey-violet: #e9ccf1;
  --font-tittle: 'Fredoka One', cursive;
  --font-ticket: 'Graduate', cursive;
}

body {
  background-color: var(--dark-grey);
}

.App {
  display: grid;
  place-content: center;
  height: 100%;
  min-height: 100vh;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1280px;
}

.elAtropos {
  max-width: 800px;
  width: 100%;
  position: relative;
  padding: 32px;
}

.container {
  background-color: rgba(19, 19, 19, 0.6);
  backdrop-filter: blur(5px) brightness(1.05) contrast(104%) grayscale(10%) opacity(90%);
  width: 100%;
  padding: 10px;
  border: 2px solid var(--ligth-grey);
  border-radius: 5px;
  overflow: hidden;
}

.elAtropos:hover .container {
  border: 4px solid var(--ligth-grey-violet);
  transition: all 0.3s cubic-bezier(0.75, 0, 0.85, 1);
}


.marca-de-agua h1 {
  font-size: 100px;
}

.container-card {
  border: 4px solid var(--ligth-grey);
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.elAtropos:hover .container-card {
  border: 4px solid var(--ligth-grey-violet);
  transition: all 0.3s cubic-bezier(0.75, 0, 0.85, 1);
}

.card {
  padding: 16px;
}

.header-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  width: 56px;
  height: 56px;
  border-radius: 9999px;
  background-color: var(--dark-grey);
  margin-right: 10px;
}

.header-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-name p {
  font-size: 20px;
  font-weight: bold;
  color: var(--ligth-grey);
  font-family: var(--font-ticket);
}

.header-ticket-number {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.header-ticket-number p:nth-child(1) {
  font-size: 14px;
  color: var(--ligth-grey);
  font-family: var(--font-ticket);
}

.header-ticket-number p:nth-child(2) {
  font-size: 20px;
  color: var(--ligth-grey);
  font-family: var(--font-ticket);
}

.header-ticket-number p span {
  color: var(--ligth-purple);
  font-family: var(--font-ticket);
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-card h1 {
  font-size: 60px;
  color: var(--ligth-grey);
  padding-top: 30px;
  font-family: var(--font-tittle);
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.elAtropos:hover h1 {
  transition: all 0.5s cubic-bezier(0.75, 0, 0.85, 1);
  color: var(--ligth-grey);
  text-shadow: 0 0 10px var(--ligth-purple);
}


.main-card div {
  font-weight: 500;
  font-size: 16px;
  color: var(--ligth-grey);
  backdrop-filter: blur(5px);
  background-color: rgba(53, 53, 53, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 9999px;
  border: transparent;
}

.main-card div p {
  padding: 10px 42px;
}

.footer-card {
  color: var(--ligth-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: var(--font-tittle);
  letter-spacing: 10px;
  text-transform: uppercase;
}


.container_socialShare {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.container-btn {
  width: 100%;

}


.container-btn button {
  width: 100%;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: transparent;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  padding: 8px 20px;
  color: var(--ligth-grey);
  font-weight: 700;
  cursor: pointer;
  min-width: fit-content;
}


.pass-line button {
  background-image: linear-gradient(60deg, #faea07d2 10%, #eaac0ed2 50%, #ee9f0dd0 100%);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 20px 0 #eaac0ecc;
  transition: all 0.5s ease;
  column-gap: 10px;
}

.pass-line:hover button {
  box-shadow: 0 10px 20px #faea07cc, 0 5px 0 0 #ee9f0dcc;
  transform: translateY(-5px);
}

.pass-line button img {
  width: 35px;
  height: 35px;
}

.downoad-ticket button {
  column-gap: 10px;
  background-image: linear-gradient(60deg, #11abf3cc 10%, #0f6be4cc 50%, #1227dfcc 100%);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 20px 0 #0f6be4cc;
  transition: all 0.5s ease;
}

.downoad-ticket:hover button {
  box-shadow: 0 10px 20px #11abf3cc, 0 5px 0 0 #1227dfcc;
  transform: translateY(-5px);
}

.downoad-ticket button img {
  width: 35px;
  height: 35px;
}

.ig-share button {
  column-gap: 10px;
  background-image: linear-gradient(60deg, #fc136ccc 10%, #d11dc2cc 50%, #7643f6cc 100%);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 20px 0 #d11dc2cc;
  transition: all 0.5s ease;
}

.ig-share:hover button {
  box-shadow: 0 10px 20px #fc136ccc, 0 5px 0 0 #7643f6cc;
  transform: translateY(-5px);
}

.ig-share button img {
  padding: 3px;
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 767px) {
  .App {
    display: grid;
    place-items: center;
  }

  .container-main {
    gap: 0;
  }

  .elAtropos {
    width: 480px;
  }

  .container {
    width: 100%;
    border-color: var(--ligth-grey-violet);
    background-color: rgba(19, 19, 19, 0.6);
  }

  .container-card {
    border-color: var(--ligth-grey-violet);
  }

  .header-card {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 10px;
    justify-content: center;
  }

  .main-card {
    gap: 20px;
  }

  .main-card h1 {
    font-size: 50px;
    text-align: center;
    color: var(--ligth-grey);
    text-shadow: 0 0 10px var(--ligth-purple);
  }

  .main-card div p {
    width: 200px;
    text-align: center;
    font-size: 12px;
    padding: 4px 12px;
    line-height: 16px;
  }

  .header-ticket-number p:nth-child(1) {
    font-size: 12px;
  }

  .header-ticket-number p:nth-child(2) {
    font-size: 24px;

  }

  .footer-card {
    letter-spacing: 5px;
    padding-top: 28px;
  }

  .container_socialShare {
    flex-direction: column;
    gap: 10px;
    max-width: 380px;
    width: 100%;
    padding: 0px 32px 32px 32px;
  }

}

@media screen and (max-width: 550px) {
  .elAtropos {
    width: 100%;
  }
}