@font-face {
  font-family: "flyer font details";
  src: url(../public/fonts/LEMONMILK-BoldItalic.otf);
}

@font-face {
  font-family: "flyer font regular";
  src: url(../public/fonts/LEMONMILK-Regular.otf);
}

@font-face {
  font-family: "flyer font djs";
  src: url(../public/fonts/LEMONMILK-Bold.otf);
}

@font-face {
  font-family: "flyer font info";
  src: url(../public/fonts/CODELight.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  margin: 0;
  padding: 0;
  line-height: inherit;
  border-style: solid;
  border-color: #e5e7eb;
}

:root {
  --ligth-grey: #f1f1f1;
  --dark-grey: #141414;
  --dark-grey-box: #363636;
  --ligth-purple: rgb(170, 103, 182);
  --ligth-grey-violet: #e9ccf1;
  --font-ticket: 'Graduate', cursive;
  --purple-main: #7e2a91;
}

body {
  box-sizing: border-box;
  background-color: var(--dark-grey);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a {
  text-decoration: none;
}

.container-home {
  height: 100vh;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to top, var(--purple-main) 0%, var(--ligth-purple) 100%);
}

.container-home h1 {
  color: var(--dark-grey);
  font-size: 50px;
  text-transform: uppercase;
  margin: 10px auto;
}

.home {
  width: 80%;
}

.home img {
  filter: drop-shadow(20px 20px 50px rgba(0, 0, 0, 0.5));
}

.home p {
  margin-bottom: 30px;
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
}

/* Countdown */
.countdown-container {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
  font-family: "flyer font djs";
  gap: 80px;
}

.next-date {
  color: var(--ligth-grey);
  width: 100%;
}

.next-date h2 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--dark-grey);
}

.container-item-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.082);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(4px);
  border-top: 1px solid rgba(255, 255, 255, .5);
  border-left: 1px solid rgba(255, 255, 255, .5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  width: 150px;
}

.count-number {
  font-size: 50px;
}

.text-count {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-grey);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.countdown-container span {
  margin: 0 5px;
}

/* flyer */
.container-flyer {
  width: 100%;
  background-image: url("../public/images/fondo web.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  display: grid;
  place-content: center;
}

.flyer img {
  display: block;
  height: 100%;
}

.container-flyer-mobile {
  width: 100%;
  background-image: url("../public/images/background vertical.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  display: grid;
  place-content: center;
}

.flyer-mobile img {
  display: block;
  height: 100%;
}

.info-3 {
  width: 100%;
}

.info-3 h3 {
  font-size: 30px;
  color: var(--purple-main);
  margin-bottom: 30px;
}

.info-3 p {
  font-size: 20px;
  color: var(--ligth-grey);
}

.flyer video {
  height: 100%;
}


img {
  max-width: 100%;
}

.container_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .text {
  position: relative;
  display: flex;
  padding: 16px 22px;
  cursor: pointer;
}

.container .text::before,
.container .text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--purple-main);
  transform-origin: right;
  transition: transform 400ms ease;
  z-index: -1;
  transform: scaleX(0);
}

.container .text:hover::before,
.container .text:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.container .text::after {
  z-index: -2;
  filter: blur(5px);
}

.container.container--2 .text::before,
.container.container--2 .text::after {
  transform: scaleY(0);
  transform-origin: bottom;
}

.container.container--2 .text:hover::before,
.container.container--2 .text:hover::after {
  transform: scaleY(1);
  transform-origin: top;
}



/* Loader */

.container-loader {
  width: 100%;
  min-height: 80vh;
  display: grid;
  place-items: center;
  place-content: center;
}

.loader {
  --path: var(--ligth-grey);
  --dot: var(--purple-main);
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}


.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}


.loader {
  display: inline-block;
  margin: 0 16px;
}

.galeria {
  width: 100%;
  margin: 20px auto;
}


/* entradas */

.entradas {
  background-image: linear-gradient(to top, var(--purple-main) 0%, var(--ligth-purple) 100%);
  background-attachment: fixed;
}

.container-entradas {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0 auto;
  padding: 30px 0;
}

.entrada {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.082);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(4px);
  border-top: 1px solid rgba(255, 255, 255, .5);
  border-left: 1px solid rgba(255, 255, 255, .5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
}

.precio {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.precio h4 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.precio h6 {
  color: var(--ligth-grey);
  font-size: 22px;
  font-weight: 600;
}

.entrada p {
  color: var(--ligth-grey);
  font-size: 18px;
  text-align: left;
  margin-bottom: 30px;
}

.entrada p span {
  font-weight: 600;
}

.btn-compra {
  background-color: var(--dark-grey);
  width: 200px;
  font-size: 18px;
  padding: 8px 16px;
  text-align: center;
  margin: 0 auto;
  border-radius: 30px;
  color: var(--ligth-grey);
  border: 2px solid transparent;
  transition: all ease .3s;
  font-weight: 700;
  cursor: pointer;
}

.btn-compra:hover {
  background-color: var(--dark-grey-box);
  border: 2px solid var(--dark-grey);

}

.header-puntos {
  display: grid;
  place-items: center;
  margin-top: 20px;
  gap: 2px;
}

.header-puntos img {
  width: 300px;
}

.header-puntos h3 {
  font-family: "flyer font djs";
  color: var(--purple-main);
  font-size: 22px;
}

.header-puntos h4 {
  font-family: "flyer font info";
  color: var(--ligth-grey);
}

.header-puntos h2 {
  font-family: "flyer font info";
  color: var(--ligth-grey);
  font-size: 25px;
  margin-top: 20px;
}

.container-puntos-venta {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 30px auto;

}

.punto-venta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.082);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(4px);
  border-top: 1px solid rgba(255, 255, 255, .5);
  border-left: 1px solid rgba(255, 255, 255, .5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
}

.punto-venta h4 {
  font-family: "flyer font djs";
  color: var(--ligth-grey-violet);
  font-size: 22px;
  margin-bottom: 10px;
}

.punto-venta a {
  color: var(--ligth-grey);
  font-size: 22px;
}


@media screen and (max-width: 1100px) {
  .container-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-artist h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .container_flyer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container_fyer-main {
    margin-bottom: 20px;
    width: 80%;
  }

  .container-sponsor div {
    width: 100%;
    max-width: 50px;
  }

  .logo-br-desktop {
    display: none;
  }

  .logo-br-mobile {
    display: block;
    width: 100%;
    max-width: 400px;
    padding-bottom: 20px;
    text-align: center;
    cursor: pointer;
  }

  .logo-br-mobile:hover {
    filter: drop-shadow(0 0 2px var(--purple-main));
  }

  .logo-br-mobile img {
    width: 100%;
  }

  .logo-br-mobile p {
    font-family: "flyer font details";
    color: var(--purple-main);
    font-size: 30px;
    margin-top: -10px;
  }

  .warm-up h3 {
    font-size: 25px;
    margin: 10px auto;
    color: var(--purple-main);
  }

  .container-warm-up {
    display: flex;
    flex-direction: column;
  }

  .container-warm-up a {
    font-size: 20px;
    padding: 0;
  }

  .container-warm-up span {
    font-size: 18px;
  }

  .opening h3 {
    font-size: 22px;
    margin: 10px auto;
    color: var(--purple-main);
  }

  .container-opening {
    display: flex;
    flex-direction: column;
  }

  .container-opening a {
    font-size: 20px;
    padding: 0;
  }

  .container-opening span {
    font-size: 18px;
  }

  .container-date {
    margin: 10px auto;
  }

  .fecha {
    margin: 10px auto;
    font-size: 16px;
  }

  .ubi {
    margin: 10px auto;
    font-size: 14px;
  }

  .container-points {
    grid-template-columns: repeat(3, 1fr);
  }
}




@media screen and (max-width: 780px) {
  .home {
    width: 100%;
  }

  .container-home {
    padding: 10px;
  }

  .countdown-container {
    width: 100%;
  }

  .container-entradas {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-puntos-venta {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .next-date h2 {
    font-size: 30px;
  }

  .count-number {
    font-size: 26px;
  }

  .countdown-container {
    gap: 10px;
  }

  .text-count {
    font-size: 16px;
  }

  .container-item-count {
    width: 85px;
    padding: 10px;
  }

  .container-entradas {
    display: flex;
    flex-direction: column;
  }

  .container-puntos-venta {
    display: flex;
    flex-direction: column;
  }
}